@import './base.css';

#app {
  background-color: var(--c-base);
}

.ranking__container {
  margin: 0 0.625rem;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .ranking__container {
    max-width: 60rem;
    margin: 0 auto;
  }
}
